
@{
    ViewData["Title"] = "About GoEats";
}

<h1>@ViewData["Title"]</h1>
<center>
    Developed by Team A<br />
    <img src="~/img/ateam.png" width="150" /><br />
    Daniel Bishop<br />
    Joshua Trimm<br />
    Kellye Tolliver<br />
    Samuel Timlick<br />
    Stephen Sprinkel
</center>
