/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
:root{
    --main-bg-color:#2D4262;            /* Indigo */
    --main-body-color:white;
    --secondary-body-color:#73605B;     /* Taupe */
    --main-accent-color:#D09683;        /* Blush*/
    --secondary-accent-color:#363237;   /*Deep Purple*/
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    /*word-break: break-all;*/
}
@media (min-width: 992px) {
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
        
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

.navbar > .container, .navbar > .container-fluid {
    display: -ms-flexbox;
    /* display: flex; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media (min-width: 992px) {
    .navbar-expand-lg {
        
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}
/* Provide sufficient contrast against white background */
a {
    color: var(--main-body-color);
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: var(--main-bg-color);
    color: var(--main-body-color);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/* Review styles
------------------------------------------------- */
.review_post {
    background-color: var(--secondary-body-color);
    padding:1em;
    border-radius:12px;
}

